<table id="poll">
    <tr>
        <th colspan="3">This will be a long question</th>
    </tr>
    <tr>
        <td>option</td>
        <td>count</td>
        <td>button</td>
    </tr>
    <tr>
        <td>option</td>
        <td>count</td>
        <td>button</td>
    </tr>
    <tr>
        <td>vote button</td>
        <td>author</td>
        <td>maybe delete</td>
    </tr>
  </table>