<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nové hlasování</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Nové hlasování</h1>
    <% if (user) { %>
        <%= user.login %>
        &nbsp;
        <a href="/sign-out">Odhlásit</a>
      <% }%>
    <br>
    <hr width="100%" size="2">
    <br>

    <div class="container">
        <% if (num < 30) { %>
            <a href="/new-poll/<%= parseInt(num)+1%>">Přidat možnost</a>&nbsp;
        <% }%>
        &nbsp;
        <% if (num >= 1) { %>
            <a href="/new-poll/<%= num-1%>">Odebrat možnost</a>
        <% }%>
        <br><br>

        <form action="/add-poll" method="POST">
        <div id="formfield">
          <input type="text" name="poll_title" class="text" size="50" placeholder="Název hlasování nebo otázka" required><br><br>

            <% for (var i=0; i<num; i++) {%>
                <input type="text" name="option" class="text" size="50" placeholder="Možnost" required><br>
            <% } %>          
        </div>
        <br>
        <input name="submit" type="Submit" value="Sdílet">
        </form>

        
                
      </div>


</body>
</html>